{% extends 'base.html' %}
{% block content %}
    <h1>My Notes</h1>

    {% if not notes %}
        <h2>There are no notes.</h2>
        <!--notes container-->
    {% else %}

        <div class="note-container">
            {% for note in notes %}
                <h2>{{ note.title }} <img src="{{ note.image }}"/></h2>

                <div class="right">
                    <a class="button details" href="{% url 'note details' note.pk %}">Details</a>
                    <a class="button edit" href="{% url 'edit note' note.pk %}">Edit</a>
                    <a class="button delete" href="{% url 'delete note' note.pk %}">Delete</a>
                </div>
            {% endfor %}
        </div>

    {% endif %}


    <!--end notes container-->

{% endblock %}
